body {
  margin: 0;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background: #f5f5f7;
  color: #111;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 80px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
}

.primary {
  background: #000;
  color: #fff;
}

.secondary {
  background: #ddd;
  color: #111;
}

.small {
  padding: 10px;
  font-size: 0.9rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

#qrVideo {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
